---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import PostCard from "../components/PostCard.astro";
import FooterWithWebring from "../components/FooterWithWebring.astro";
const allPosts = await Astro.glob("./posts/*/*.md");
---

<Layout title="fox's site">
  <div id="outer-container">
    <div id="inner-container">
      <NavBar />
      <div id="header">
        <div id="text">
          <h1 id="headingtext">hi!!! i'm teh falsefox! x3</h1>
          <p id="subtext">
            I'm a 19y/o computer engineering student (she/her) based on the
            beloved western seaboard.
          </p>
        </div>
        <img src="/icona/fox.svg" id="fox" />
      </div>
      <div>
        <h2 id="ataglance">At a glance..</h2>
        <p>
          - <b>As of 4/28/2024</b> this website is under construction and available for feedback and usertesting..
        </p>
        <p>
          - <b>In terms of tech</b> I do various programming, homelab and tech projects
          for fun, such as programming websites in <i
            class="devicon-astro-plain colored"></i> Astro; working on games in <i
            class="devicon-godot-plain colored"></i> Godot; programming low-level
          code in <i class="devicon-rust-original"></i> Rust or <i
            class="devicon-cplusplus-plain colored"></i> C++; Working on Discord
          bots in <i class="devicon-discordjs-plain"></i> Discord.js; Working on
          <i class="devicon-raspberrypi-plain colored"></i> Raspberry Pi and <i
            class="devicon-arduino-plain colored"></i> Arduino projects, or trying
          out different <i class="devicon-linux-plain"></i> inux distributions.
        </p>
        <p>
          - <b>In terms of hobbies</b> you can find me playing banjo, piano or bass;
          cooking up an overly-engineer vegetarian dish; taking estrogen; working
          on my video games or listening to my CD collection.
        </p>
      </div>
      <div>
        <div id="sectionheader">
          <h2>Recent posts</h2>
          <a href="/blog">View all</a>
        </div>
        <div id="posts">
          {
            allPosts.map((post) => (
              <PostCard
                url={post.url}
                name={post.frontmatter.title}
                date={post.frontmatter.pubDate}
              />
            ))
          }
        </div>
      </div>
      <FooterWithWebring />
    </div>
  </div>
</Layout>
<style lang="less">
  ///////////////////////////
  //Containers///////////////
  ///////////////////////////
  //Outer container centers everything, inner container sets a max width for the components.
  #outer-container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #inner-container {
    max-width: 45em;
    padding-left: 1em;
    padding-right: 1em;
  }

  //////////////////////////////////
  // Title stuff
  ///////////////////////////////////
  #headingtext {
    margin-bottom: 0px;
  }
  #subtext {
    margin-top: 0.2em;
  }
  #header {
    display: flex;
    align-items: center;
    justify-content: center;
    //make it bigger but not big enough that the x3 wraps on mobile
    h1 {
      font-size: 2.4em;
    }
  }
  #fox {
    //makes it white
    filter: invert(58%) sepia(67%) saturate(614%) hue-rotate(323deg)
      brightness(99%) contrast(105%);
    max-width: 14em;
  }
  //other
  #sectionheader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      padding-left: 0.5em;
      padding-right: 0.5em;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      border: 2px solid rgb(80, 80, 80);
      border-radius: 4px;
      color: white;
      text-decoration: none;
      transition: background-color 100ms ease-in-out;
    }
    a:visited {
      color: white;
      text-decoration: none;
    }
    a:hover {
      background-color: rgb(256 256 256 / 4%);
    }
    a:active {
      background: white;
    }
  }
  #ataglance {
    margin-top: 0px;
  }
</style>
