<footer>
copyright &copy; falsefox.dev 2024 - <a href="https://github.com/false-fox/falsefox-blog-2.0">source</a></p>
</footer>
<style lang="less">
  footer {
    margin-top: 10em;
    font-family: var(--monospace-font);
    font-size: small;
    text-align: center;
    margin-bottom: 1em;
  }
  i {
    font-size: 2em;
  }
  a {
    color: white;
  }
  a:visited {
    color: white;
  }
</style>
