<footer>
copyright &copy; falsefox.dev 2024</p>
</footer>
<style lang="less">
  footer {
    margin-top: 10em;
    font-family: var(--monospace-font);
    font-size: small;
    text-align: center;
  }
  i {
    font-size: 2em;
  }
  a {
    color: white;
  }
  a:visited {
    color: white;
  }
</style>
