<footer>
    <p>copyright &copy; falsefox.dev 2024</p>

    <div id="webring">
        <a href="https://webring.queercoded.dev/prev?source=falsefox.dev">⬅</a> <a href="https://queercoded.dev/">part of the queercoded web ring</a> <a href="https://webring.queercoded.dev/next?source=falsefox.dev"> 🡒</a>
    </div>
  </footer>
  <style lang="less">
    #webring {

    }
    footer {
      margin-top: 10em;
      font-family: var(--monospace-font);
      font-size: small;
      text-align: center;
    }
    i {
      font-size: 2em;
    }
    a {
      color: white;
    }
    a:visited {
      color: white;
    }
  </style>
  