<main>
  <a href="/#">
    <h1>falsefox<span class="rainbow">.</span>dev </h1>
  </a>
  <p>hi, i'm teh fox x3</p>
  
</main>

<style>
  p {
    font-size: 1.2em;
    margin-top: 0px;
  }
  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 4em;
    color: rgb(255, 231, 185);
    text-shadow:
      2px 2px black,
      4px 4px darkred,
      6px 6px orangered,
      10px 10px orange;
  }
  a {
    text-decoration: none;
    color: var(--color-text);
  }
  a:visited {
    text-decoration: none;
    color: var(--color-text);
  }
  main {
  }
</style>
